---
apiVersion: v1
kind: Service
metadata:
  name: mysql-svc
  labels:
    app: mysql
spec:
  ports:
    - port: 3306
      targetPort: 3306
      nodePort: 30306 #
      name: mysql
  selector:
    app: mysql
  type: NodePort

---
# 3. KUBERNETES DEPLOYMENT (Using emptyDir)
apiVersion: apps/v1
kind: Deployment
metadata:
  name: mysql-db
  labels:
    app: mysql
spec:
  replicas: 1
  selector:
    matchLabels:
      app: mysql
  template:
    metadata:
      labels:
        app: mysql
    spec:
      terminationGracePeriodSeconds: 30
      containers:
        - name: mysql-container
          image: mysql:8.0.35
          ports:
            - containerPort: 3306
              name: mysql
          env:
            - name: MYSQL_ROOT_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: db-credentials
                  key: password
            - name: MYSQL_DATABASE
              value:
                "mydb"
                #resources:
                #requests:
                #cpu: "50m"
                # memory: "128Mi"
                #limits:
                #cpu: "100m"
                # memory: "240Mi"
          volumeMounts:
            - name: mysql-temp-storage
              mountPath: /var/lib/mysql

          # Health Probes (
          livenessProbe:
            exec:
              command:
                [
                  "bash",
                  "-c",
                  "mysqladmin ping -u root -p${MYSQL_ROOT_PASSWORD}",
                ]
            initialDelaySeconds: 40
            periodSeconds: 10
          readinessProbe:
            exec:
              command:
                [
                  "bash",
                  "-c",
                  "mysql -u root -p${MYSQL_ROOT_PASSWORD} -e 'SELECT 1'",
                ]
            initialDelaySeconds: 30
            periodSeconds: 5

        # emptyDir:
        - name: mysql-temp-storage
          emptyDir: {}
