# Kibana configuration
elasticsearchHosts: "http://otel-elasticsearch-master:9200"

# Match Elasticsearch password
elasticsearchCredentialSecret: "otel-elasticsearch-master-credentials"

# Resource allocation
resources:
  requests:
    cpu: "100m"
    memory: "512Mi"
  limits:
    cpu: "500m"
    memory: "1Gi"

# Service configuration
service:
  type: NodePort
  nodePort: 30601

# Readiness check
readinessProbe:
  initialDelaySeconds: 60
  timeoutSeconds: 10
